
{% extends "base.html" %}
{% block page_title %} Contact Information {% endblock %}
{% block page_head %} Contact Information {% endblock %}
{% block page_content %}
    <div class = "container">
{% if form_submitted %}
    <div class = "col-12" >
        <h2> Thank you for completing the form! </h2>
    </div>
    <div class = "col-md-6">
        <p> First Name:</p>
    </div>
    <div class = "col-md-6">
        <p> {{request.form.get('first_name')}} </p>
    </div>
   <div class = "col-md-6">
       <p> Last Name:</p>
    </div>
    <div class = "col-md-6">
        <p> {{request.form.get('last_name')}} </p>
    </div>
       <div class = "col-md-6">
       <p> Email:</p>
    </div>
    <div class = "col-md-6">
        <p> {{request.form.get('email')}} </p>
    </div>
   <div class = "col-md-6">
       <p> Favorite Color: </p>
    </div>
    <div class = "col-md-6">
        <p> {{request.form.get('favorite_color')}} </p>
    </div>
    <div class = "col-md-6">
        <p> <a href = "{{ url_for('contact') }}"> Complete form again </a> </p>
    </div>

    {% else %}

<form class ="row g-3" method = "post" >
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">First name</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="First name" name = "first_name" required>

      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Last name</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" name = "last_name" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault03">Email</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="example@umd.edu" name = "email" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault04">Favorite color</label>
      <input type="text" class="form-control" id="validationDefault04" placeholder="Color" name = "favorite_color" required>
    </div>
     <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
    {% endif %}
    </div>
    {% endblock %}

